{% extends "template.html.twig" %}


{% block title %}
        Acteur | {{ actor.lastname }} {{ actor.firstname }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/film.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/inscription.css">
{% endblock %}

{% block body %}
    <div class="row mt-5">
        {% if actor != false %}

        <div class="col-8 offset-md-2">
            <img src="{{ baseUrl }}/assets/img/artists/{{actor.img}}" alt="Affiche du film: ">
        </div>
        <div class="content-bg col-8 offset-md-2 px-4 mb-5">
            <div class="content-div col-12">
                <h1 class="titles text-center text-nowrap">{{ actor.lastname }} {{ actor.firstname }}</h1>
                <h5 class="titles text-center text-nowrap mt-4">Film(s) :</h5>
                {% for film in films  %}
                    <p class="text-center mt-3 f-text"><a href="{{ baseUrl }}/film/{{ film.id }}">{{ film.title }}</a></p>
                {% endfor %}
                <h5 class="titles2 text-center text-nowrap mt-5">Date de naissance :</h5>
                
                    <p class="text-center">{{ actor.birthday }}</p>
                
            </div>
            <div class="col-12 mb-5">
                <h5 class=" content-div titles2 text-center text-lg-start">Biographie :</h5>
                <p class="col-12 text f-text">{{ actor.biography }}</p>
            </div>
        </div>
        {% else %}
            <h1>Aucun acteur n'a été trouvé</h1>
        {% endif %}
    </div>
{% endblock %}

